body{background-color: black; color: white; font-family: 'Ruda', sans-serif;}
header{display: flex;}
img{height: 120px;}
nav{font-size: 36px;}
a{color: white; text-decoration: none; font-size: 60px;}
#a{font-size: 1em;}
div{margin-left: 11em; margin-top: 2em;}
